<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31010099352-0bjtquk65l7o8ndmch7m8end81kfp55a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31010099352-0bjtquk65l7o8ndmch7m8end81kfp55a</string>
	<key>API_KEY</key>
	<string>AIzaSyDG8Q9npDZ79TnHAEy8uEOJCUMsGsEqZGw</string>
	<key>GCM_SENDER_ID</key>
	<string>31010099352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>login-auth-eec5f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-auth-eec5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31010099352:ios:91d9ca71a011f25eedc0ed</string>
</dict>
</plist>